*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.ns{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.dark{
    color: hsl(236, 33%, 92%) ;
    background-color:  #181824;
}
.light{
    color: #181824;
    background-color:#fafafa;
}
.dark i{
    color: white;
}
.light i{
    color: black;
}
.light_2{
    color: #25273c !important;
    background-color: #ffffff !important;
}

i{
    cursor: pointer;
    size: 10px;
}

input:focus{
    outline: none;
}
.hide{
    display: none !important;
}
.btn {
    background-color: inherit;
    border: none;
}
.background_1{
    height: 230px;
    background-image: linear-gradient(to right, #09203F  0%, #2e4c6a 100%);
}
.background_2{
    height: 230px;
    background-image: linear-gradient(to right, #ee9da8  0%, #ffdde1 100%);
}
.todo-list{
    max-width: 650px;
    margin: 0 auto;
    position: relative;
        bottom: 110px;
}
.todo-header{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.todo-title{
    display: inline-block;
}

.todo-form{
    margin: 3% 10%;
    background-color: #25273c;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.todo-input{
    width: 90%;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 400;
    background-color: #25273c;
    color: white;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    caret-color: rgb(175, 66, 66);
}
.todo{
    padding: 15px 20px;
    width: 70%;
    margin: 5px auto;
    background-color:#25273c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(75, 75, 75);
    animation-duration: 0.2s;
}
.todo input{
    opacity: 1;
    cursor: pointer;
}
.todo label{
    position: relative;
    margin-left: 15px;
    display: inline-block;
}
.todo i{
    margin-left: auto;
}
.todo-dark:hover{
    background-color: #193352 !important;
}
.todo-light:hover{
    background-color: #facbd1!important;
}

.footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}
.footer span{
    cursor: pointer;
    padding: 10px;
}
.footer span:hover{
    color: skyblue;
}
.selected{
    color: skyblue;
}

/* Check Box*/
input[type='checkbox'] {
    -webkit-appearance:none;
    display:inline-block;
    width:16px;
    height:16px;
    padding:0px;
    margin:0px;
    margin-right:5px;
    background:white;
    border-radius:20px;
    border:1px solid #ddd;
    border: 1px solid #dee2e6;                                                
    box-sizing:content-box;                                                   
    line-height:16px;                                                         
    vertical-align: sub;                                                      
    position:relative;
}                                                                             
input[type='checkbox']:checked {                                     
    border:1px solid  #55468c;                                                
}                                                                             
input[type='checkbox']:checked:after{                                
  content:'';                                                                 
  position: absolute;                                                         
  width: 12px;                                                                
  height: 12px;                                                               
  border-radius: 12px;                                                         
  background: #55468c;                                                        
  top:50%;                                                                    
  transform: translateY(-50%);                                                
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}